body {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cards-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  margin: 1rem;
}

.title h1 {
  font-size: 3rem;
  font-weight: 900;
  color: #184366;
  letter-spacing: 0.1rem;
}

.title p {
  margin-top: -2rem;
  font-size: 1.2rem;
  color: #86888b;
}

.titleNav {
  font-size: 3rem;
  padding: 5rem;
  color: #184366;
}
