@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

.top-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: 1px solid #c7c7c7;

  .top-info__more {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    p {
      font-family: "Open Sans", sans-serif;
      color: #545454;
      font-size: 1rem;
      letter-spacing: 1px;
      transition: ease-in-out 0.4s;
      position: relative;
      font-weight: bolder;

      &:hover {
        cursor: pointer;
        color: #184366;
      }

      &:after {
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: #eeb111;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
      }
      &:hover:after {
        width: 100%;
        left: 0;
      }
    }
  }

  .top-info__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 5rem;
  }

  .top-info__icons {
    width: 33%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .searchbar {
      border: none;
      padding: 0.5rem;
      padding-right: 0;
      width: 15rem;

      &::placeholder {
        color: #184366;
        font-family: "Open Sans", sans-serif;
        padding: 0.3rem;
      }
    }

    .info-icons {
      color: #184366;
      font-size: 1.5rem;
      font-weight: bold;
      transition: ease-in-out 0.4s;

      &:hover {
        cursor: pointer;
        color: #e95b37;
      }
    }
    .container__searchbar {
      border: 1px solid #e0e0e0;
      padding-top: 0.2rem;
      padding-bottom: 0.1rem;
      border-radius: 0.2rem;
    }
    .search-icon {
      padding-right: 0.5rem;
      padding-left: 0.2rem;
      color: #e95b37;
    }
  }
}
